body {
  background: var(--gradient-start-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__links li a {
  color: white;
}

.nav {
  margin-bottom: 2rem;
}

#hamburger {
  background: var(--secondary-black-clr);
}

/* contact section */

.contact-section {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: black;
}

.contact-section h1 {
  display: inline-block;
  font-size: 4rem;
  font-size: clamp(4rem, 9vw, 6rem);

  font-weight: 800;
  line-height: clamp(4.5rem, 9vw, 6.5rem);
}

.contact-section h2 {
  display: inline-block;
  font-size: 1.1rem;
  font-size: clamp(1.1rem, 4vw, 1.5rem);
  font-weight: 300;
  /* match to the beginning of h1 */
  margin-left: 4px;
  margin-top: -1rem;
}

.contact-section p {
  margin: 2rem 0;
  /* match to the beginning of h1 */
  margin-left: 6px;
  line-height: 1.5;
  color: var(--p-main-clr);
  max-width: 35ch;
}

.btn-secondary {
  background-color: var(--accent-clr);
}

.btn-secondary:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.btn-primary {
  margin-left: 2rem;
  background-color: var(--primary-clr);
}

.btn-primary:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.contact-section img {
  flex: 1 1 0;
  width: 100%;
  min-width: 0;
  border-radius: 17px;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px -2px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 769px) {
  .contact-section {
    flex-direction: row;
    align-items: center;
  }

  .contact-section {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

/* contact section end */

.contact {
  flex: 1 1 0;
  width: 0;

  align-self: flex-start;
  display: flex;
  flex-direction: column;
  min-width: 300px;

  margin: 1rem 2rem;
}

input,
textarea {
  padding: 0.5rem;
}

input {
  font-size: 1.2rem;
}

.contact h2 {
  font-size: clamp(2rem, 9vw, 3rem);
  font-weight: 300;
}

#name-input {
  width: 20ch;
}

#subject-input {
  width: 20ch;
}

.contact label {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  font-size: 1.4rem;
}

#message-input {
  width: 100%;
  max-width: 350px;
  min-height: 150px;
  font-size: 1rem;
  margin-bottom: 1rem;
  resize: vertical;
  box-sizing: border-box;
}

input[type="submit"] {
  border: none;
  width: 40%;
  margin-left: 0;
}

/* Mobile */
@media screen and (min-width: 769px) {
  .nav {
    align-self: center;
  }
  .nav__links li a {
    color: black;
  }
}

#captchaInput {
  margin-bottom: 1rem;
  width: 10ch;
}

.contact-section {
  margin-top: 1rem;
  margin-bottom: 8rem;
}

.contact-section h2 {
  margin-left: 0px;
  margin-bottom: 1rem;
}

.local-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.local-socials *:before {
  background-color: rgb(28, 0, 189);
}

.local-socials .twitter-link,
.local-socials .discord-link {
  margin: 0;
  color: #380191;
  font-size: 1.4rem;
  cursor: pointer;
}
