@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;800&display=swap");

:root {
  --p-main-clr: #cfcfcf;
  --accent-clr: #49959b;
  --primary-clr: #e3a008;
  --secondary-black-clr: #5a5a5a;
  --gradient-start-clr: #fccfb1;
  --gradient-end-clr: #047481;
  --card-text--clr: #c7c7c7;
  --hamburger-light-clr: rgb(161, 161, 161);
  --footer-text-clr: rgb(180, 180, 180);
  --main-ff: "Mulish", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: var(--main-ff);
  margin: 0;
  color: white;
}

img {
  max-width: 100%;
}

/* Navbar */
.abs-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  width: 100%;
  font-weight: 500;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a {
  display: block;
  padding: 0px 1.25rem;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  color: white;
}

.nav__links li a:hover,
.nav__links li a:focus {
  color: var(--primary-clr);
}

.hamburger {
  display: none;
  padding: 1.25rem;
  border-radius: 0;
  -webkit-mask: url("../assets/menu.svg") no-repeat;
  mask: url("../assets/menu.svg") no-repeat;

  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  align-self: flex-end;
}

@media screen and (max-width: 769px) {
  /* hide old nav, show hamburger */
  .nav__links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: black;
  }

  .show li {
    width: 100%;
  }
  .nav__links a {
    display: block;
    padding: 1.5rem 0;
    /* width: 100%; */
    text-align: center;
  }

  .hamburger {
    display: inline-block;
    background: var(--hamburger-light-clr);
    mask-size: cover;
    -webkit-mask-size: cover;
    margin-right: 3rem;
  }

  .show {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* hero section */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;

  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/hero.jpg") no-repeat;

  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 10%;
}

.hero-wrapper {
  margin-left: 10%;
}
.hero-section h1 {
  display: block;
  font-size: 4rem;
  font-size: clamp(4rem, 9vw, 7.5rem);
  font-weight: 800;
  color: var(--primary-clr);
}

.hero-section h2 {
  display: block;
  font-size: 1.1rem;
  font-size: clamp(1.1rem, 3vw, 2rem);
  font-weight: 300;
  /* match to the beginning of h1 */
  margin-left: 4px;
  margin-top: -0.8em;
}

.hero-section p {
  margin: 2.5rem 0;
  color: var(--p-main-clr);
  max-width: 30ch;
  font-size: clamp(1rem, 2vw, 1.25rem);
  /* match to the beginning of h1 */
  margin-left: 6px;
  line-height: 1.5;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  gap: clamp(1rem, 4vw, 3rem);
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: white;
  white-space: nowrap;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.15s ease;
}

.btn-secondary {
  background-color: var(--accent-clr);
}

.btn-secondary:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.btn-primary {
  background-color: var(--primary-clr);
  color: black;
}

.btn-primary:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

/* Portfolio section */

.portfolio-wrapper {
  background-color: var(--accent-clr);
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 8rem;
  text-align: center;
  height: 100%;
  flex-wrap: wrap;

  max-width: min(90%, 1200px);
  margin: 0 auto;
}

.card-wrapper {
  width: 80%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 2rem;
  row-gap: 4rem;
}

.card {
  position: relative;
  border-radius: 30px;
  box-shadow: 10px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 6px -2px rgba(0, 0, 0, 0.05);

  min-width: 250px;
  max-width: 250px;
  transition: all 0.25s ease-in-out;
}

.card img {
  width: 100%;
  height: 275px;
  border-radius: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.795);
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--card-text--clr);
}

.portfolio h2 {
  margin: 4rem 0;
  color: white;
  font-size: 3rem;
  font-weight: 400;
}

.card div {
  transition: all 0.25s linear;
}

@media screen and (min-width: 769px) {
  .card-text {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s linear;
  }

  .card:hover {
    transform: scale(1.2);
    transition: all 0.25s ease-in-out;
    z-index: 1;
  }

  .card:hover div {
    visibility: visible;
    opacity: 1;
  }
}

/* Footer  */

.footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  height: 75px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: rgb(0, 0, 0);
  color: var(--footer-text-clr);
  text-align: left;
  font-size: 1rem;
}

.footer a {
  color: var(--gradient-start-clr);
}

.discord-link:before,
.twitter-link:before {
  display: inline-block;
  content: "";
  -webkit-mask: url("../assets/discord.svg");
  mask: url("../assets/discord.svg");
  background-color: rgb(139, 139, 139);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-size: 1.25rem 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.twitter-link:before {
  -webkit-mask: url("../assets/twitter.svg");
  mask: url("../assets/twitter.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/* Scroll to top button */

/* https://moderncss.dev/pure-css-smooth-scroll-back-to-top/ */

/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.back-to-top-link {
  /* `fixed` is fallback when `sticky` not supported */
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  pointer-events: all;
  top: calc(100vh - 8rem);
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #000000d2;
}

.back-to-top-wrapper {
  position: absolute;
  top: 100vh;
  right: 2%;
  bottom: -0.01em;
  width: 3em;
  pointer-events: none;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.125rem;
  height: 1.125rem;
  margin-left: -0.5625rem;
  margin-top: -0.3125rem;
  cursor: pointer;
}
.up:hover polyline,
.up:focus polyline {
  stroke-width: 12;
}

.up:active polyline {
  stroke-width: 12;
  transition: all 100ms ease-in-out;
}

/* popup notification */

/* Popup container */
.popup {
  position: relative;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show-popup {
  visibility: visible;
  animation: popup-animation 0.25s;
  -webkit-animation: popup-animation 0.25s;
  /* animation-iteration-count: 1; */
  /* animation-direction: alternate; */
}

/* Add animation (fade in the popup) */
@-webkit-keyframes popup-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popup-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
